@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules//bootstrap/scss/variables";

$primary: #446ba7;
$secondary: #617453;
$light: #f3f2e6;
$dark: #396c91;
$success: #4a9b6a;
$warning: #c78b32;
$danger: #f44336;
$info: #002a49;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
