{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/lists/list-detail.css' %}"
/>
{% endblock %} {% block content %}

<section class="card-container">
  <div class="card">
    <h5 class="card-header">
      <div>{{ list.list_name }}</div>
    </h5>
    <div class="card-body">
      <p class="card-text">{{list.description}}</p>
      <button class="warn">
        <a href="{% url 'list-update' list.id %}">Edit</a>
      </button>
      <button class="danger">
        <a href="{% url 'list-delete' list.id %}">Delete</a>
      </button>
    </div>
  </div>
</section>
<br />

<h3>Associated Tasks</h3>

<div>
  {% if list.task_set.all %}
  <section class="card-container">
    {% for task in list.task_set.all %}
    <div class="card">
      <h5 class="card-header">
        <div>{{ task.task_name }}</div>
        <div
          id="priority"
          style="background-color: 
        {% if task.priority == 'High' %}var(--danger)
        {% elif task.priority == 'Medium' %}var(--warning)
        {% elif task.priority == 'Low' %}var(--success)
        {% else %}var(--info)
        {% endif %};"
        >
          <p>{{task.priority}}</p>
        </div>
      </h5>
      <div class="card-body">
        <h6 class="card-text">Due: {{task.due_date}}</h6>
        <p class="card-text">{{ task.note }}</p>
        <button class="card-btn">
          <a href="{% url 'task-detail' task.id %}">View</a>
        </button>
      </div>
    </div>
    {% endfor %}
  </section>
  {% else %}
  <p>This list currently has no associated tasks.</p>
  {% endif %}
</div>

{% endblock %}
