{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/form.css' %}"
/>
{% endblock %} {% block content %}

<div class="page-header">
  {% if subtask %}
  <h1>Edit {{ subtask.subtask_name }} in Task: {{ task.task_name }}</h1>
  {% else %}
  <h1>Add a Subtask to Task: {{ task.task_name }}</h1>
  {% endif %}
</div>

<div>
  <form
    action=""
    method="post"
    class="subsection-content"
    autocomplete="off"
  >
    {% csrf_token %}
    <input
      type="hidden"
      name="task_id"
      value="{{ task.id }}"
    />
    {{ form.as_table }}
    <button
      type="submit"
      class="btn submit"
    >
      Submit
    </button>
  </form>
</div>

{% endblock %}
