{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/form.css' %}"
/>
{% endblock %} {% block content %}

<div class="page-header">
  {% if subtask %}
  <h1>Edit {{ subtask.subtask_name }}</h1>
  {% else %}
  <h1>Add a Subtask</h1>
  {% endif %}
</div>

<div>
  <h4>Add Subtask</h4>
  <form
    action="{% url 'add-subtask' task.id %}"
    method="post"
    class="subsection-content"
    autocomplete="off"
  >
    {% csrf_token %} {{ subtask_form.as_table }}
    <button
      type="submit"
      class="btn submit"
    >
      Submit
    </button>
  </form>
</div>

{% endblock %}
