{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/tasks/task-detail.css' %}"
/>
{% endblock %} {% block content %}
<div class="page-content">
  <section class="lists">
    
      {% if task.list_key %}
      <div class="subsection-title">
      <h6>
        List:
        <a href="{% url 'list-detail' task.list_key.id %}"
          >{{ task.list_key }}</a
        >
      </h6>
      <div class="btn-container">
        <form
          action="{% url 'disassociate-list' task.id %}"
          method="post"
        >
          {% csrf_token %}
          <input
            type="hidden"
            name="selected_list_id"
            value="{{ task.list_key.id }}"
          />
          <button
            type="submit"
            class="detail-page-btn"
          >
            Remove List
          </button>
        </form>
      </div>
      </div>
      {% else %}
      <div class="add-list-form">

        <form
          action="{% url 'associate-list' task.id %}"
          method="post"
          id="add-list-form"
        >
          {% csrf_token %}
          <select
            id="available-lists"
            name="selected_list_id"
          >
            <option value="">Add to list? (optional)</option>
            {% for list in lists %}
            <option value="{{ list.id }}">{{ list.list_name }}</option>
            {% endfor %}
          </select>
          <div class="btn-container-list">
          <button
            type="submit"
            class="detail-page-btn"
          >
            Add
          </button>
        </div>
        </form>
      
      {% endif %}

  </section>

  <section class="card-container">
    <div class="card">
      <h5 class="card-header">
        <div>{{ task.task_name }}</div>
        <div
          id="priority"
          style="background-color: 
          {% if task.priority == 'High' %}var(--danger)
          {% elif task.priority == 'Medium' %}var(--warning)
          {% elif task.priority == 'Low' %}var(--success)
          {% else %}white
          {% endif %};"
        >
          <p>{{ task.priority }}</p>
        </div>
      </h5>
      <div class="card-body">
        <h6 class="card-text">Due: {{task.due_date}}</h6>
        <p class="card-text">Note: {{ task.note }}</p>
        <div id="completed">
          <h6 class="card-text">{{task.completed}}</h6>
        </div>
        <div class="task-actions">
          <a href="{% url 'task-update' task.id %}"
            ><button class="warn">Edit</button></a
          >
          <a href="{% url 'task-delete' task.id %}"
            ><button class="danger">Delete</button></a
          >
        </div>
      </div>
    </div>
  </section>

  <br />
  <div class="subtask-list-container">
    <section class="subtask">
      <div class="subsection-title">
        <h2>Subtasks</h2>
        <div class="btn-container">
          <a href="{% url 'subtask-create' task.id %}"
            ><button class="detail-page-btn">Add</button></a
          >
        </div>
      </div>
      <div class="subtask-card">
        {% if task.subtask_set.all %}
        <div class="table-card-head"></div>
        <table>
          <thead class="table-header">
            <tr>
              <th>Name</th>
              <th>Priority</th>
              <th>Due</th>
              <th>Edit/Del.</th>
            </tr>
          </thead>
          <tbody class="table-body">
            {% for subtask in subtasks %}
            <tr>
              <td>{{subtask.subtask_name}}</td>
              <td>{{subtask.priority}}</td>
              <td>{{subtask.due_date}}</td>
              <td>
                <a href="{% url 'subtask-update' task.id subtask.id %}"
                  ><button class="table-btn">Edit</button></a
                >
                <a href="{% url 'subtask-delete' task.id subtask.id %}"
                  ><button class="table-btn">Delete</button></a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p class="no-subtasks">No Subtasks</p>
        {% endif %}
      </div>
    </section>
  </div>
</div>

{% endblock %}
