{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/tasks/task-detail.css' %}"
/>
{% endblock %} {% block content %}
<section class="task-container">
  <div class="card">
    <div class="card-content">
      <div class="card-img-priority">
        <div class="card-img-container">
          <img
            src="{% static 'images/TaskImg.svg' %}"
            alt=""
            class="task-image"
          />
        </div>
        <div id="priority">
          <p>{{task.priority}}</p>
        </div>
        <div id="completed">
          <p>{{task.completed}}</p>
        </div>
        <div>
          <form
            id="update-completed-form"
            action="{% url 'change-completed' task.id %}"
            method="post"
          >
            {% csrf_token %}
            <input
              type="hidden"
              name="selected_completed_value"
              id="selected-completed-value"
            />
            <select
              name="completed"
              id="is-complete-dropdown"
            >
              <option value="">Completed?</option>
              {% for choice in task.CompletedChoices.choices %}
              <option value="{{ choice.0 }}">{{ choice.1 }}</option>
              {% endfor %}
            </select>
            <button type="submit">Update Status</button>
          </form>
        </div>
      </div>
      <div class="card-info">
        <ul>
          <li class="card-title">{{ task.task_name }}</li>
          <li>{{task.due_date}}</li>
          <li><small>{{ task.note }}</small></li>
        </ul>
      </div>
    </div>
    <div class="task-actions">
      <a
        href="{% url 'task-update' task.id %}"
        class="btn warn"
        >Edit</a
      >
      <a
        href="{% url 'task-delete' task.id %}"
        class="btn danger"
        >Delete</a
      >
    </div>
  </div>
</section>
<div class="subtask-list-container">
  <section class="lists">
    <div class="subsection-title">
      {% if task.list_key %}
      <h2>
        List:
        <a href="{% url 'list-detail' task.list_key.id %}"
          ><h6>{{ task.list_key }}</h6></a
        >
      </h2>
      <form
        action="{% url 'disassociate-list' task.id %}"
        method="post"
      >
        {% csrf_token %}
        <input
          type="hidden"
          name="selected_list_id"
          value="{{ task.list_key.id }}"
        />
        <button
          type="submit"
          class="btn btn-danger"
        >
          Remove List
        </button>
      </form>
      <form
        action="{% url 'change-list' task.id %}"
        method="post"
      >
        {% csrf_token %}
        <select name="new_list">
          <option value="">Choose List</option>
          {% for list in lists %}
          <option value="{{ list.id }}">{{ list.list_name }}</option>
          {% endfor %}
        </select>
        <button type="submit">Change</button>
      </form>
      {% else %}
      <h2>
        List:
        <h6>Add to list?</h6>
      </h2>
    </div>
    <h3>Available lists</h3>
    <form
      action="{% url 'associate-list' task.id %}"
      method="post"
    >
      {% csrf_token %}
      <select
        id="available-lists"
        name="selected_list_id"
      >
        <option value="">Choose List</option>
        {% for list in lists %}
        <option value="{{ list.id }}">{{ list.list_name }}</option>
        {% endfor %}
      </select>
      <button
        type="submit"
        class="btn submit"
      >
        Add
      </button>
    </form>
    {% endif %}
  </section>

  <section class="subtask">
    <div class="subsection-title">
      <h2>Subtasks</h2>
    </div>
    <div class="subtask-card">
      <table>
        <thead class="table-header">
          <tr>
            <th>Name</th>
            <th>Priority</th>
            <th>Due Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody class="table-body">
          {% for subtask in task.subtask_set.all %}
          <tr>
            <td>{{subtask.subtask_name}}</td>
            <td>{{subtask.priority}}</td>
            <td>{{subtask.due_date}}</td>
            <td>{{ subtask.completed }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div>
        <h6>Add Subtask</h6>
        <form
          action="{% url 'add-subtask' task.id %}"
          method="post"
          class="subsection-content"
          autocomplete="off"
        >
          {% csrf_token %} {{ subtask_form.as_p }}
          <button
            type="submit"
            class="btn submit"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </section>
</div>
{% endblock %}
