{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/tasks/task-detail.css' %}"
/>
{% endblock %} {% block content %}
<section class="task-container">
  <div class="card">
    <div class="card-content">
      <div class="card-img-priority">
        <div class="card-img-container">
          <img
            src="{% static 'images/TaskImg.svg' %}"
            alt=""
            class="task-image"
          />
        </div>
        <div id="priority">
          <p>{{task.priority}}</p>
        </div>
        <div id="completed">
          <p>{{task.completed}}</p>
        </div>
      </div>
      <div class="card-info">
        <ul>
          <li class="card-title">{{ task.task_name }}</li>
          <li>{{task.due_date}}</li>
          <li><small>{{ task.note }}</small></li>
        </ul>
      </div>
    </div>
    <div class="task-actions">
      <a
        href="{% url 'task-update' task.id %}"
        class="btn warn"
        >Edit</a
      >
      <a
        href="{% url 'task-delete' task.id %}"
        class="btn danger"
        >Delete</a
      >
    </div>
  </div>
</section>
<div class="subtask-list-container">
  <section class="lists">
    <div class="subsection-title">
      {% if task.list_key %}
      <h6>
        List:
        <a href="{% url 'list-detail' task.list_key.id %}"
          >{{ task.list_key }}</a
        >
      </h6>
      <form
        action="{% url 'disassociate-list' task.id %}"
        method="post"
      >
        {% csrf_token %}
        <input
          type="hidden"
          name="selected_list_id"
          value="{{ task.list_key.id }}"
        />
        <button type="submit">Remove List</button>
      </form>
      {% else %}
      <form
        action="{% url 'associate-list' task.id %}"
        method="post"
      >
        {% csrf_token %}
        <select
          id="available-lists"
          name="selected_list_id"
        >
          <option value="">Add to list? (optional)</option>
          {% for list in lists %}
          <option value="{{ list.id }}">{{ list.list_name }}</option>
          {% endfor %}
        </select>
        <button
          type="submit"
          class="btn submit"
        >
          Add
        </button>
      </form>
      {% endif %}
    </div>
  </section>

  <section class="subtask">
    <div class="subsection-title">
      <h2>Subtasks</h2>
      <div>
        <button>
          <a href="{% url 'subtask-create' task.id %}">+</a>
        </button>
      </div>
    </div>
    <div class="subtask-card">
      <table>
        <thead class="table-header">
          <tr>
            <th>Name</th>
            <th>Priority</th>
            <th>Due Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody class="table-body">
          {% for subtask in task.subtask_set.all %}
          <tr>
            <td>{{subtask.subtask_name}}</td>
            <td>{{subtask.priority}}</td>
            <td>{{subtask.due_date}}</td>
            <td>{{ subtask.completed }}</td>
            <td>
              <button>
                <a href="{% url 'subtask-update' task.id subtask.id %}"
                  >E</a
                ></button
              ><button>
                <a href="{% url 'subtask-delete' task.id subtask.id %}">D</a>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</div>
{% endblock %}
